* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c8e96f;
    color: #f2fd7d;
    text-align: center;
   

}

/* Instructions */
#container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.instructions {
    color: #000000;
    margin-top: 10px;
    width: 100%;
    border: 4px solid #fff;
    background-color: rgb(53, 154, 221);
    padding: 1.5rem;
    text-align: left;  
    border-radius: 15px;
}

.instructions img{
    border-radius: 100px;
}

.instructions h1 {
    text-align: left;
    margin-bottom: 2rem;
}
.instructions p {
    font-size: 20px;
}

.instructions a {
    color: black;
    background-color: #c8e96f;
    border:1px solid #fff;
    margin: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
}

.instructions a:hover {
    border: 3px solid #fff; 
}


/* game page */

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem 0;
    background-color: #ffffff50;
    align-items: center;
    border-radius: 30px;
}

#game-logo img {
    border-radius: 50%; 
    height: 60px;
    border:3px solid rgb(221, 14, 14);
}

.homePage a {
    font-size: 6vmin;
    color: rgb(53, 154, 221);
}

.homePage a:hover {
    color:#fff;
    
}


.game {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;     
}

.game-board {
height: 55vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: yellow;
    background-color: rgb(4, 93, 153);
}

.box:hover {
    border: 3px solid yellow; 
    box-shadow: 3px 3px 10px black;
}
#reset-btn {
    color: white;
    background-color: #000;
    border:none;
    margin: 10px;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
}

#reset-btn:hover {
    border: 3px solid rgb(255, 255, 255); 
    background: transparent;
    color: black;
    box-shadow: 1px 1px 3px rgb(233, 227, 227);   
}

label { 
    color: black;
    
}
#newGame-btn {
    color: white;
    background-color: #000;
    border:none;
    margin: 10px;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
}


#move-sound {
    color: white;
    background-color: #000;
    border:none;
    margin: 10px;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
}

.hide {
    display: none;
}

.score-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2.5vmin;
    font-weight: bold;
    width: 100%;
}
.score-board .score {
    border: 1px dotted;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 20px;
}
.score-board p {
    margin-bottom: 0;
}

.draw-result {
    margin-left: 20px;
    margin-right: 20px;
}

/* 404 page */

.error-page {
    color: rgb(221, 14, 14);
   padding: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 80vh;
}

.error-page p {
    font-size: 3vmin;
    color:rgb(53, 154, 221);
    font-weight: bold;

}

.back-page a {
    color: white;
    background-color: #000;
    border:none;
    padding: 1rem 3rem;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;   
}

.back-page a:hover {
    border: 4px solid #fff;
    background-color: transparent;
    color: black;   
}

.error-heading {
    font-size: 10rem;
}

.error-page h2 {
    margin-bottom: 3rem;
}

/* confetti */
#confetti {
    height: 0;
}

/* Media queries to make pages responsiveness on different screen sizes */
@media screen and (min-width:320px) and (max-width:768px) {
    .header-section {
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
        background-color: #ffffff50;
        align-items: center;
        border-radius: 30px;
    }
    
    #game-logo img {
        height: 50px;
       
    }
    .score-board {
        font-size: 3vmin;
    }
    .score-board .score {
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    
    
    .game-board {
    margin-bottom: 10px;
    }
    
    
}

